---
import Base from '~/layouts/Base.astro';
---
<Base title="OutbreakDayZ">
  <section class="container">
    <h1 class="glitch" data-text="Outbreak DayZ">Outbreak DayZ</h1>
    <p>Coming soon.</p>
  </section>
</Base>
