---
interface Props {
  items: string[];
}
const { items } = Astro.props;
---
<ul class="rule-list">
  {items.map((it) => <li>{it}</li>)}
</ul>

<style>
  .rule-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: var(--text-dim);
  }
  .rule-list li {
    position: relative;
    padding-left: 1.6rem;
    line-height: 1.55;
  }
  .rule-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.55em;
    width: 10px;
    height: 1px;
    background: var(--blood-bright);
  }
</style>
